body{
    position: relative;
  margin: 0;
  padding: 0;
}


.header {
    background-color: #F1F3FF;
    /* padding-left: 50px; */

}

#nav {
    position: fixed;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    /* width: 650px; */
}

ul {list-style-type:none;}
li {list-style-type:none;}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-left: 50px;
    padding-top: 80px;
    background-color: #ffffff;
}

main li {
    list-style-type: none;
}

main .container {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 32px;

}

.box {
    /* width: 50%; */
    height: 230px;
    background-color: #F1F3FF;
    border: 2px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 8px;


}

.Testimoni {
    text-align: center;


}


#carouselExampleIndicators {
    width: 619px;
    height: 270px;
    margin-left: 350px;


}

#jumbotron {
    width: 100%;
    height: 326px;
    left: 110px;
    top: 1900px;

    /* Primary/DarkBlue/04 */

    background: #0D28A6;
    border-radius: 13px;
    text-align: center;



}

#jumbotron h4 {
    color: #ffffff;
    text-align: center;
    writing-mode: horizontal-tb;
    padding-top: 50px;
    /* font-size: 36px; */

}

#jumbotron p {
    color: #ffffff;
}


section {
    background-color: white;
    margin-top: 80px;
}

footer {
    background-color: white;
    margin-top: 80px;
    padding-left: 50px;

}

#dfaq {
    width: 668px;
    height: 56px;
    margin-right: 100px;
    top: 0px;
    border-radius: 4px;
    padding-left: 20px;

}

.btn-carousel {
    display: flex;
    justify-content: center;
}

.carousel-control {
    background: #5CB85F;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.carousel button {
    border-radius: 100%;
    margin: 5px 15px;

}

.tombol-crsl {
    width: 15px;
    height: 15px;

}

@media (min-width :375px){
    #why{
        text-align: center;
        justify-content: center;
    }
}

@media (min-width :1440px){
    #why{
        text-align: left;
        justify-content: left;
       
    }
}

@media (min-width :1024px){
    #why{
        text-align: left;
        justify-content: left;
       
    }
}

@media (max-width :376px) {
    #hiden{
        display: none;
    }
}

@media (max-width :426px) {
    #hiden{
        display: none;
    }
}

@media (max-width :769px) {
    #hiden{
        display: none;
    }
}

@media (min-width :375px){
    #FAQ{
        text-align: center;
        justify-content: center;
    }
}

@media (min-width :375px){
    #acor{
        text-align: center;
        justify-content: center;
    }
}

/* @media (min-width :375px){
    #footer{
        text-align: center;
        justify-content: center;
    }
} */





